.lvl-1{
	color: red;
	font-weight: bold;
}

.lvl-2{
	color: green;
}

.lvl-3{
	color: blue;
}

.lvl-4{
	color: pink;
}

.lvl-5{
	color: orange;
}

.wdg-box{
	margin-bottom: 4px;
}

.wdg-box .widget-header{
	padding: 5px;
}

.action-table{
	
}

.action-table thead th{
	text-align: center;
	vertical-align: middle;
}

.action-table tbody td{
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 	
	text-align: center; 
}

.action-table .td-actions .btn { 
	margin-right: .1em;		
}
	
.action-table .td-actions .btn:last-child { 
	margin-rigth: 0; 		
}