@import url('../plugins/SlickGrid/slick-default-theme.css');

/** {
  font-family: arial;
  font-size: 8pt;
}*/

#myGrid, #footBudgetGrid {
  font-family: arial;
  font-size: 8pt;
  background: white;
  outline: 0;
  border: 1px solid gray;
}

#footBudgetGrid .jexcel > tbody > tr > td{
  /*text-align: left;*/
  padding-top: 0px;
  padding-bottom: 0px;
}

#myGrid .jexcel > tbody > tr > td{
  /*text-align: left;*/
  padding-top: 0px;
  padding-bottom: 0px;
}

#footBudgetGrid .jexcel > tbody > tr > td.readonly{
  color: #6A6F75;
}

#myGrid .jexcel > tbody > tr > td.readonly{
  color: #6A6F75;
}

/* Individual cell styles */
.slick-cell.task-name {
  font-weight: bold;
  text-align: right;
}

.slick-cell.task-percent {
  text-align: right;
}

.slick-cell.cell-move-handle {
  font-weight: bold;
  text-align: right;
  border-right: solid gray;

  background: #efefef;
  cursor: move;
}

.cell-move-handle:hover {
  background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
  background: #D5DC8D;
}

.slick-row .cell-actions {
  text-align: left;
}

.slick-row.complete {
  background-color: #DFD;
  color: #555;
}

.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

}

.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

/* Slick.Editors.PercentComplete */
input.editor-percentcomplete {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

  float: left;
}

.editor-percentcomplete-picker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("../plugins/SlickGrid/images/pencil.gif") no-repeat center center;
  overflow: visible;
  z-index: 1000;
  float: right;
}

.editor-percentcomplete-helper {
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("../plugins/SlickGrid/images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;

  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}

.editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;

  width: 100%;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}

.editor-percentcomplete-buttons {
  float: right;
}

.editor-percentcomplete-buttons button {
  width: 80px;
}

.editor-percentcomplete-slider {
  float: left;
}

.editor-percentcomplete-picker:hover .editor-percentcomplete-helper {
  display: block;
}

.editor-percentcomplete-helper:hover {
  display: block;
}

/* Slick.Editors.YesNoSelect */
select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

/* Slick.Editors.Checkbox */
input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

[class^="slickgrid_"],
[class^="slickgrid_"] div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
     box-sizing: content-box;
}

/* Slick copy and paste from excel */
.slick-cell.copied {
  background: blue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: 0.5s background;
}

/* Slic Row Selected */

.cell-selection {
  border-right-color: silver;
  border-right-style: solid;
  background: #f5f5f5;
  color: gray;
  text-align: right;
  font-size: 10px;
}
.slick-row.selected .cell-selection {
  background-color: transparent; /* show default selected row background */
}


.lvl-1{
	color: red;
	font-weight: bold;
}

.lvl-2{
	color: green;
}

.lvl-3{
	color: blue;
}

.lvl-4{
	color: pink;
}

.lvl-5{
	color: orange;
}

.wdg-box{
	margin-bottom: 4px;
}

.wdg-box .widget-header{
	padding: 5px;
}

.action-table{
	
}

.action-table thead th{
	text-align: center;
	vertical-align: middle;
}

.action-table tbody td{
	font-size: 10px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  vertical-align: middle;
}

.action-table tbody td.amount{
  text-align: right;
  vertical-align: middle;
}

.action-table tbody input{
  
}

.action-table .td-actions { 
	width: 80px; 	
	text-align: center;
}

.action-table .td-actions .btn { 
	margin-right: .1em;		
}
	
.action-table .td-actions .btn:last-child { 
	margin-rigth: 0; 		
}

.title-graph{
  text-align: center;
  font-weight: bold;
}

.caption{
  text-align: center;
  font-style: oblique;
  color: gray;
}

.textarea-cell{
  height: 3em;
  resize: none;
  transition: all 0.5s ease;
}

.textarea-cell:focus{
  height: 6em;
  width: 14em;
}

#loading-screen {
  background-color: rgba(25,25,25,0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0;
  top: 0;
  text-align: center;
}
#loading-screen img {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
}

.baserowbudget{
  background-color: rgba(255, 243, 205, 1) !important;
}

.basecolbudget{
  background-color: rgba(255, 243, 205, 0.5); !important;
}

.gridRowLvl-1{
  color: red;
  font-weight: bold;
  background-color: rgba(140, 200, 250, 0.8);
}

.gridRowLvl-2{
  color: #0000FF;
  font-weight: bold;
  background-color: rgba(185, 250, 100, 0.8);
}

.gridRowLvl-3{
  color: #003200;
  font-weight: bold;
  background-color: rgba(220, 250, 200, 0.8);
}

.gridRowLvl-4{
  color: purple;
  font-weight: bold;
  background-color: rgba(220, 240, 255, 0.8);
}

.gridRowLvl-5{
  color: orange;
  font-weight: bold;
  background-color: rgba(255, 255, 210, 0.8);
}

.gridRowLvl-6{
  color: #0064FA;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.8);
}

.gridRowLvl-7{
  color: brown;
  font-weight: bold;
  background-color: rgba();
}

.gridRowLvl-8{
  color: yellow;
  background-color: rgba();
}

.gridRowLvl-9{
  background-color: rgba();
}

.gridRowLvl-10{
  background-color: rgba();
}

.percentage, .amount{
  text-align: right;
}

.caption-label{
  font-weight: bold;
}

.caption-header{
  color: #07a7e3;
  font-size: 1rem;

}

.heading{
  color: #72848c;
  font-weight: bold;
}

.subtext{
  font-size: 0.7rem;
  font-weight: 300;
  color: #72848c;
}

.table-slide{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table-slide tbody td:nth-child(1){
  padding-left: 30px;
  color: #74777c;
  font-weight: bold;
}